

<!DOCTYPE html>
<html>
<head>
    <title>New Jquery Enroll Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.s"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#submit").click(function(){

                var name = $("#name").val();
                var password = $("#password").val();
                var firstname = $("#firstName").val();
                var lastname = $("#lastName").val();

                var dataString = 'username='+ name + '&password='+ password+ '&firstname='+ firstname+ '&lastname='+ lastname ;

                if(name==''||password=='')
                {
                    alert("Enter Username and Password");
                }
                else
                {
                    // AJAX Code To Submit Form.
                    $.ajax({
                        type: "POST",
                        url: "/enroll",
                        data: dataString,
                        cache: false,
                        dataType:'JSON',
                        statusCode:
                        {
                            200: function()
                            {
                                alert('Successful Enrollment');
                                //location.href = "/xxxxx" could redirect to a page if we want
                            },
                            401: function()
                            {
                                alert('Enrollment Failed');
                                //location.href = "/xxxxx" could redirect to a page if we want
                            }
                        }

                    })
                    ;
                }
                return false;
            });
        });
    </script>
</head>
<body>
<div>
    <div id="JQueryEnrollForm">
        <h1> Enroll </h1> <br />
        <p>
            <br /><br />
            <label>Username: </label>
            <input id="name" type="text"/><br /><br />
            <label>Password: </label>
            <input id="password" type="password"/><br /><br />
            <label>FirstName: </label>
            <input id="firstName" type="text"/><br /><br />
            <label>LastName: </label>
            <input id="lastName" type="text"/><br /><br />
            <input id="submit" type="button" value="Submit" /><br />
        </p>
    </div>
</div>
</body>
</html>

