
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Example Login Form</title>
        <link rel="stylesheet" type="text/css" href="css\Style.css">
    </head>
    <body>
        <div align="center">
            <form method="POST" action="/auth">
                Username: <input class="textbox" type="text" name="username" size="15" /><br /><br />
                Password: <input class="textbox" type="password" name="password" size="15" /><br />
                <p><input class="button" type="submit" value="Login" /></p>
            </form>
        </div>
    </body>
</html>

